<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="orange">
              <h4 class="title text-center" >données saisi </h4>
            <p class="category  font-weight-bold ">
               </p>
            <div class="user-selector" *ngIf="isAdmin()">
              <mat-form-field>
                <mat-select placeholder="choisissez un acheteur" (selectionChange)="onUserSelected($event)">
                  <mat-option *ngFor="let user of users" [value]="user">
                    {{ user.email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-card>
            <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr >
                    <th class="text-primary"><strong>numDa</strong></th>
                    <th class="text-primary"><strong>designation</strong></th>
                    <th class="text-primary"><strong>numDossier</strong></th>
                    <th class="text-primary"><strong>chefP</strong></th>
                    <th class="text-primary"><strong>estimation</strong></th>
                    <th class="text-primary"><strong>numRfi</strong></th>
                    <th class="text-primary"><strong>situationRfi</strong></th>
                    <th class="text-primary"><strong>numAo</strong></th>
                    <th class="text-primary"><strong>situationAo</strong></th>
                    <th class="text-primary"><strong>montantDeLaCad</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employeeList">
                    <td>{{employee.numDa}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.numDossier}}</td>
                    <td>{{employee.chefP}}</td>
                    <td>{{employee.estimation}}</td>
                    <td>{{employee.numRfi}}</td>
                    <td>{{employee.situationRfi}}</td>
                    <td>{{employee.numAo}}</td>
                    <td>{{employee.situationAo}}</td>
                    <td>{{employee.montantDeLaCad}}</td>
                    <td>
                      <a class="btn" (click)="onDelete(employee.$key)">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
      </mat-card>
    </div>
      </div>
    </div>
  </div>
</div>