<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="orange">
              <h4 class="title text-center" >données saisi </h4>
            <p class="category  font-weight-bold ">
               </p>
            <div class="user-selector" *ngIf="isAdmin()">
              <mat-form-field>
                <mat-select placeholder="choisissez un acheteur" (selectionChange)="onUserSelected($event)">
                  <mat-option *ngFor="let user of users" [value]="user">
                    {{ user.email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-card>
            <div class="card-content table-responsive">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>

              <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="numDa">
                  <mat-header-cell *matHeaderCellDef> numDa </mat-header-cell>
                  <mat-cell  *matCellDef="let element"> {{element.numDa}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="designation">
                  <mat-header-cell *matHeaderCellDef> designation </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numDossier">
                  <mat-header-cell *matHeaderCellDef> numDossier </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.numDossier}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numRfi">
                  <mat-header-cell *matHeaderCellDef> numRfi </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.numRfi}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="situationRfi">
                  <mat-header-cell *matHeaderCellDef> situationRfi </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.situationRfi}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numAo">
                  <mat-header-cell *matHeaderCellDef> numAo </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.numAo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="situationAo">
                  <mat-header-cell *matHeaderCellDef> situationAo </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.situationAo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="montantDeLaCad">
                  <mat-header-cell *matHeaderCellDef> montantDeLaCad </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.montantDeLaCad}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                      <a class="btn" (click)="onDelete(element.$key)">
                       <i class="fa fa-trash-o"></i>
                      </a>
                  </mat-cell>
                </ng-container>

                <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            </div>
        
      </mat-card>
    </div>
      </div>
    </div>
  </div>
</div>