<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="orange">
            <h4 class="title"></h4>
            <p class="category">Situation actuelle</p>
            <div class="user-selector" *ngIf="isAdmin()">
              <mat-form-field>
                <mat-select placeholder="Select User" (selectionChange)="onUserSelected($event)">
                  <mat-option *ngFor="let user of users" [value]="user">
                    {{ user.email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>numDa</th>
                  <th>designation</th>
                  <th>numDossier</th>
                  <th>chefP</th>
                  <th>estimation</th>
                  <th>numRfi</th>
                  <th>situationRfi</th>
                  <th>numAo</th>
                  <th>situationAo</th>
                  <th>montantDeLaCad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeeList">
                    <td>{{employee.numDa}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.numDossier}}</td>
                    <td>{{employee.chefP}}</td>
                    <td>{{employee.estimation}}</td>
                    <td>{{employee.numRfi}}</td>
                    <td>{{employee.situationRfi}}</td>
                    <td>{{employee.numAo}}</td>
                    <td>{{employee.situationAo}}</td>
                    <td>{{employee.montantDeLaCad}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>