<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Numero de dossier</th>
                                    <th>Designation</th>
                                    <th>Description</th>
                                    <th>Entite</th>
                                    <th>Groupe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Ao</td>
                                    <td>Appel d'offre</td>
                                    <td>OCP/Achat</td>
                                    <td>OCP/Gantour</td>
                                </tr>
                                <tr>
                                        <td>2</td>
                                        <td>RFI</td>
                                        <td>...</td>
                                        <td>OCP/Achat</td>
                                        <td>OCP/Gantour</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
